html{
    height: 100%;
}

body {
    background-color: rgb(233, 193, 193);
    margin: 0;
    padding: 0 5px;
    height: 100vh;
    /* background-color: snow; */
}

main {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    /* height: calc(100% - 99px); */
    border: 1px solid black;
    height: 99%;
    /* margin: 2px; */
    /* margin:0; */
}

#image {
    display: block;
    max-width: 100%;
    text-align: center;
    height: auto;
}

h1,
h2 {
    text-align: center;
}

#timeline-title {
    text-align: center;
}

#img-caption{
    text-align: center;
}

#tribute-link {
    text-align: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}